asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
django-appconf==1.1.0
django-extensions==4.1
django-select2==8.4.0
django-simple-tags==0.6.1
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==24.2
pillow==11.2.1
psycopg2-binary==2.9.10
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.9.0
