{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semesters</title>
    <link rel="stylesheet" href="{% static 'css/view_semesters.css' %}">
</head>
<body>
    <div class="container">
        <h1>Semesters</h1>
        <ul class="semester-list">
            {% for semester in semesters %}
                <li class="semester-item">
                    <a href="{% if branch %}{% url 'view_subjects' course_id=course.id branch_id=branch.id semester_id=semester.id %}{% else %}{% url 'view_semesters_no_branch' course_id=course.id  %}{% endif %}">
                        {{ semester.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
